
# temporários de compilação
*.aux
*.bbl
*.blg
*.log
*.synctex*
*.toc
*.fdb_latexmk
*.fls
*.lof
*.out
*temp.tex
*.brf
*.idx
*.ilg
*.loq
*.lot

# resultantes, adicionar com -f
*.pdf
*.dvi

# diretório de referencias não publicas
ref
